/* Header */
.main-header {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

/* Logo */
.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(/assets/profile\ photo.jpg);
    background-size: 50px ;
    border-radius: 50%;
}

/* Navigation bar */
nav {
    border: 1px solid;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    text-decoration: none;
}
nav a {
    padding: 8px;
    border-right: 1px solid;
}
nav a:last-child {
    border-right: none;
}

/* Banner */
.banner-img {
    border: 1px solid;
    height: 350px;
    margin-bottom: 10px;
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    background-position: center;
}

/* Section */
section {
    height: 500px;
    border: 1px solid;
    padding: 5%;
}

/* My Profile */
.profile {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.flex-item {
    width: calc(100%/3);
}
.aboutme-img {
    background-image: url(https://picsum.photos/100);
    border-radius: 50%;
    background-repeat: no-repeat;
}
.myjob-img {
    background-image: url(https://picsum.photos/100);
    border-radius: 50%;
}
.myhobbies-img {
    background-image: url(https://picsum.photos/100);
    border-radius: 50%;
}

/* Leave a Message */
.container-left {
    display: flex;
    width: 50%;
    padding-right: 8px;
}
.col-25 {
    width: 25%;
}
.dotdot {
    width: 3%;
}
.col-75 {
    width: 72%;
}
.row {
    margin-top: 6px;
    align-items: baseline;
}
input[type=text], input[type=date], textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    float: right;
    cursor: pointer;
}

/* Footer */
.main-footer {
    border: 1px solid;
}