/* Body */
body {
    margin: 0;
}

/* Navbar */
.navbar {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}
    /* Logo */
.logo {
    height: 50px;
    width: 50px;
    background-image: url(../assets/logo.jpg);
    background-size: 60px;
    background-position: center;
    border-radius: 50%;
    margin-left: 20px;
}
.logo:hover {
    outline-color: black;
    outline-style: solid;
}
    /* Navigation */

nav {
    height: 100%;
    flex-grow: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
nav a {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover {
    background-color: black;
    color: white;
}

/* Header */
.banner-1 {
    position: relative;
}
.img-1 {
    width: 100%;
    height: auto;
}
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
}
.intro h1 {
    margin: 0;
    text-align: center;
}
.intro p {
    margin: 0;
    text-align: center;
}

/* All Section */
section {
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 0;
}
hr {
    border-top: 1px rgba(0, 0, 0, 1);
}

/* Section Profile */
#profile {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    column-gap: 40px;
}
    /* Profile Div */
.mybg, .myjob, .myhobbies {
    width: calc(100%/3);
}
    /* Profile Image */
#profile img {
    width: 100%;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    border: 1px solid;

}