/* Header */
.main-header {
    border: 1px solid;
    display: flex
;
    justify-content: space-between;
}
.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    border-radius: 50%;
}
nav {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: none;
}
.banner-img {
    border: 1px solid;
    height: 350px;
    background-image: url(https://picsum.photos/200/300);
    background-size: cover;
    background-position: center;
}
section {
    height: 500px;
}